@import "./variables.less";

.rack-form {
  font-size: 15px;
  overflow: scroll;

  &__intro {
    background: @blue;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__section {
    margin-top: 40px;
    padding: 40px 40px 0 40px;
  }

  &__input {
    margin: 24px 0;

    &--radio-group { 
      p {
        margin: 16px 0;
        display: block;
        font-weight: @font-weight-bold;
      }
      label {
        cursor: pointer;
        display: block;
        margin-bottom: 16px;
      }
      input[type=radio] {
        margin-right: 8px;
      }
      &.-horizontal {
        label {
          display: inline;
          margin-right: 24px;
        }
      }
    }

    &--text,
    &--textarea,
    &--select {
      label {
        margin-bottom: 8px;
        display: block;
        font-weight: @font-weight-bold;
      }
      input, select, textarea {
        border: 1px solid @grey;
        border-radius: 4px;
        width: 100%;
        padding: 8px;
      }
    } 
  }



}