@import (css) url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

@font-face-regular: 'IBM Plex Sans', sans-serif;
@font-face-header: 'Lato', sans-serif;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-semibold: 500;
@font-weight-bold: 600;
@font-weight-black: 900;

@black: #022F40;
@white: #fff;
@blue: #4C9CF7;
@grey: fade(@black, 20%);
@dark-grey: fade(@black, 40%);